@model Core.BIZ.NhaXuatBan

@{
    ViewBag.Title = "Xem Chi tiết";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="panel panel-default">
      <div class="panel-heading">
            <h3 class="panel-title">@ViewBag.Title</h3>
      </div>
      <div class="panel-body">
            <div>
            <h4>Nhà xuất bản</h4>
            <p>
                @Html.ActionLink("Sửa", "Edit", new { id = Model.MaSoNXB }) |
                @Html.ActionLink("Trở lại danh sách", "Index")
            </p>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.MaSoNXB) :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MaSoNXB)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TenNXB) :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TenNXB)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DiaChi) :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DiaChi)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SoDienThoai) :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SoDienThoai)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SoTaiKhoan) :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SoTaiKhoan)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.NganHang) :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NganHang)
                </dd>
            </dl>
        </div>
      </div>
</div>



