@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<Core.BIZ.NguoiDung>

@{
    ViewBag.Title = "Danh mục Người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    @section AddToHead{
        <link href="@Url.Content("~/Content/JQueryUI/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
    }
    @section AddToFooter{
        <script src="@Url.Content("~/Content/JQueryUI/jquery-ui.min.js")"></script>
        <script>
            $(function() {
            var availableTags = []
            function getAutoCompleteSource(request) {
                $.getJSON('@Url.Action("GetProperties")',{ request : request}, function (data) {
                    availableTags = data;
                });
            }
            function split( val ) {
              return val.split( /{\s*/ );
            }
            function extractLast( term ) {
              return split( term ).pop();
            }
            
            $( "#search" )
              // don't navigate away from the field on tab when selecting an item
              .bind( "keydown", function( event ) {
                if ( event.keyCode === $.ui.keyCode.TAB &&
                    $( this ).autocomplete( "instance" ).menu.active ) {
                  event.preventDefault();
                }
                if (event.shiftKey && event.keyCode == 219) {
                    getAutoCompleteSource($(this).val()+"{");
                }
              })
              .autocomplete({
                minLength: 0,
                source: function( request, response ) {
                    // delegate back to autocomplete, but extract the last term
                  response( $.ui.autocomplete.filter(
                    availableTags, extractLast( request.term ) ) );
                  console.log($.ui.autocomplete.filter(
                    availableTags, extractLast( request.term ) ));
                },
                focus: function() {
                  // prevent value inserted on focus
                  return true;
                },
                select: function( event, ui ) {
                  return false;
                }
              });
          });
        </script>
    }
}
@Html.Partial("~/Areas/Admin/Views/Shared/Alert.cshtml")
<div class="panel panel-default">
      <div class="panel-heading">
            <h3 class="panel-title">@ViewBag.Title</h3>
      </div>
      <div class="panel-body">
            <p>
                @Html.ActionLink("Thêm Người dùng", "Create")
            </p>
            <hr />
            @using (Html.BeginForm("Index", "NguoiDung", FormMethod.Get, new { @class = "form" }))
            {
                @Html.ValidationSummary(true)
                <div class="row ">
                    <div class="col-md-10 form-group input-group">
                        <input type="search" name="search" id="search" class="form-control" 
                               value="@{if (ViewBag.SearchKey != null)
                                        {
                                            @ViewBag.SearchKey;
                                        }
                                        }"
                               required="required" title="">
                        <span class="input-group-btn"><button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button></span>
                    </div>
                    <div class="col-md-2">
                        @Html.Partial("~/Views/Shared/PageSizeOptions.cshtml", new ViewDataDictionary { { "PageSize", Model.PageSize }, { "TotalItemCount", Model.TotalItemCount } })
                    </div>
                </div>
            }
            <table class="table">
                <tr>
                    <th>
                        @Core.DAL.NguoiDungManager.Properties.TenNguoiDung
                    </th>
                    <th>
                        @Core.DAL.NguoiDungManager.Properties.TenDayDu
                    </th>
                    <th>
                        @Core.DAL.NguoiDungManager.Properties.Email
                    </th>
                    <th>
                        @Core.DAL.NguoiDungManager.Properties.PhanQuyen
                    </th>
                    <th></th>
                </tr>

            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenNguoiDung)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenDayDu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @if (item.isAdmin())
                        {
                            <span>Admin</span>
                        }
                        else
                        {
                            <span>Đại lý</span>
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Sửa", "Edit", new { id = item.MaSoNguoiDung }) |
                        @Html.ActionLink("Chi tiết", "Details", new { id = item.MaSoNguoiDung }) |
                        @Html.ActionLink("Xóa", "Delete", new { id = item.MaSoNguoiDung })
                    </td>
                </tr>
            }

            </table>
            <div class="row">
                <div class="col-md-4 col-md-offset-5">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize, search = ViewBag.searchKey }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-5">
                    Đang xem từ @Model.FirstItemOnPage đến @Model.LastItemOnPage trong số @Model.TotalItemCount nội dung.
                </div>
            </div>
      </div>
</div>

