@model Core.BIZ.Sach

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    @section AddToHead{
        <link href="@Url.Content("~/Content/fileinput.min.css")" rel="stylesheet" type="text/css" />
    }
    @section AddToFooter{
        <script src="@Url.Content("~/Scripts/fileinput.min.js")"></script>
    }
}

<h2>Create</h2>


@using (Html.BeginForm("Create","Sach",FormMethod.Post,new { @class = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @* <h4>Sach</h4> *@
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
        <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-4">
                    <div class="row form-group">
                        <div class="col-md-12">
                            <input id="file-4" type="file" class="file" data-upload-url="#">
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        @Html.LabelFor(model => model.TenSach, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.TenSach, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TenSach, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LinhVucSach, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.MaSoLinhVuc,ViewBag.DMLinhVuc as SelectList,new { @class = "form-control"})
                            @Html.ValidationMessageFor(model => model.MaSoLinhVuc, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            @Html.ActionLink("Thêm lĩnh vực", "Create","LinhVuc",null,null)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TenTacGia, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.TenTacGia, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TenTacGia, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NXB, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.MaSoNXB, ViewBag.DMNXB as SelectList, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MaSoNXB, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            @Html.ActionLink("Thêm Nhà Xuất Bản", "Create", "NhaXuatBan", null, null)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Soluong, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Soluong, new { htmlAttributes = new { @class = "form-control", disabled = "disabled"} })
                            @Html.ValidationMessageFor(model => model.Soluong, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.GiaNhap, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.GiaNhap, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GiaNhap, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.GiaBan, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.GiaBan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GiaBan, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
            
        
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
