@{
    var currentCotroller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    var currentAction = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Admin layout</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/sb-admin.css")
    @Styles.Render("~/Content/font-awesome/css/font-awesome.min.css")
    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }

</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Quản lý phát hành Sách</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Smith <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse ">
                <ul class="nav navbar-nav side-nav scrollbar-style scrollbar">
                    <li class="@if (currentCotroller == "Sach"
                                || currentCotroller == "LinhVuc") { @Html.Raw("active")}">
                        <a href="javascript:;" data-toggle="collapse" data-target="#sach"><i class="fa fa-fw fa-book"></i> Sách <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="sach" class="collapse">
                            <li>
                                @Html.ActionLink("Xem danh mục sách", "Index", "Sach", null, null)
                            </li>
                            <li>
                                @Html.ActionLink("Thêm Sách", "Create", "Sach", null, null)
                            </li>
                            <li>
                                @Html.ActionLink("Xem danh mục lĩnh vực", "Index", "LinhVuc", null, null)
                            </li>
                        </ul>
                    </li>
                    <li class="@if (currentCotroller == "NhaXuatBan"
                                || (currentCotroller == "CongNoNXB" && currentAction == "TheoDoi")
                                || (currentCotroller == "ThanhToanNXB" && currentAction == "ThanhToan")
                                || (currentCotroller == "All" && currentAction == "PhieuNhap")) { @Html.Raw("active")}">
                        <a href="javascript:;" data-toggle="collapse" data-target="#nha-xuat-ban"><i class="fa fa-fw fa-group"></i> Nhà xuất bản <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="nha-xuat-ban" class="collapse">
                            <li>
                                @Html.ActionLink("Xem danh mục NXB", "Index", "NhaXuatBan", null, null)
                            </li>
                            <li>
                                @Html.ActionLink("Thêm Nhà xuất bản", "Create", "NhaXuatBan", null, null)
                            </li>
                            <li>
                                @Html.ActionLink("Theo dõi nợ", "TheoDoi", "CongNoNXB", null, null)
                            </li>
                            <li>
                                @Html.ActionLink("Thanh toán", "ThanhToan", "ThanhToanNXB", null, null)
                            </li>
                            <li>
                                @Html.ActionLink("Theo dõi phiếu nhập", "All", "PhieuNhap", null, null)
                            </li>
                        </ul>
                    </li>
                    <li class="@if(currentCotroller == "DaiLy"
                                || (currentCotroller == "CongNoDaiLy" && currentAction == "TheoDoi")
                                || (currentCotroller == "ThanhToanDaiLy" && currentAction == "ThanhToan")
                                || (currentCotroller == "All" && currentAction == "PhieuXuat")) { @Html.Raw("active")}">
                        <a href="javascript:;" data-toggle="collapse" data-target="#dai-ly"><i class="fa fa-fw fa-group"></i> Đại lý <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="dai-ly" class="collapse">
                            <li>
                                @Html.ActionLink("Xem danh mục Đại lý", "Index", "DaiLy", null, null)
                            </li>
                            <li>
                                @Html.ActionLink("Thêm đại lý", "Create", "DaiLy", null, null)
                            </li>
                            <li>
                                @Html.ActionLink("Theo dõi nợ", "TheoDoi", "CongNoDaiLy", null, null)
                            </li>
                            <li>
                                @Html.ActionLink("Thanh toán", "ThanhToan", "ThanhToanDaiLy", null, null)
                            </li>
                            <li>
                                @Html.ActionLink("Theo dõi phiếu xuất", "All", "PhieuXuat", null, null)
                            </li>
                        </ul>
                    </li>
                    <li class="@if(currentCotroller == "ThongKe" ) { @Html.Raw("active")}">
                        <a href="javascript:;" data-toggle="collapse" data-target="#thong-ke"><i class="fa fa-fw fa-filter"></i> Thống kê <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="thong-ke" class="collapse">
                            <li>
                                @Html.ActionLink("Tồn kho", "TonKho", "ThongKe", null, null)
                            </li>
                            <li>
                                @Html.ActionLink("Lô nhập", "LoNhap", "ThongKe", null, null)
                            </li>
                            <li>
                                @Html.ActionLink("Doanh Thu", "DoanhThu", "ThongKe", null, null)
                            </li>
                            <li>
                                @Html.ActionLink("Sách bán", "SachBan", "ThongKe", null, null)
                            </li>
                            <li>
                                @Html.ActionLink("Công nợ", "CongNo", "ThongKe", null, null)
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                </footer>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @if (IsSectionDefined("AddToFooter"))
    {
        @RenderSection("AddToFooter", required: false)
    }
</body>
</html>
